{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

{% endblock %}

{% block title %}
title
{% endblock %}

{% block content %}
<div class="container">
{% for ticket in tickets %}
<div class="card" style="width: 18rem;">
        <div class="card-body">
            <a href="{% url 'ticket:detail' ticket.id %}"><h5 class="card-title">{{ ticket.title }}</h5></a>
            <h6 class="card-subtitle mb-2 text-muted">{{ ticket.get_priority_display }}
                {{ ticket.get_progress_display }}</h6>
            <p class="card-text">{{ ticket.description }}</p>

            <a href="{% url 'ticket:close' ticket.id %}" class="card-link">
                <button class="btn btn-primary">close</button>
            </a>
            <a href="{% url 'ticket:edit' ticket.id %}" class="card-link">
                <button class="btn btn-primary">Edit</button>
            </a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}